body {
  font-family: monospace;
  padding: 10px;
}

form {
  display: inline-block;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  margin-left: 35%
}

form #submit {
	float: right;
}

#welcome {
	text-align: center;
}

#404 {
	float: center;
}

th {
  text-align: center;
}
