{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
{% endblock %}

{% block title %}FCPS Seattle 2015{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">FCPS</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                <li>
                  <a href="#">Hi, {{current_user.username}}!</a>
                </li>
                <li> 
                    <a href="/logout">Logout</a> 
                </li>
                <li {%if request.path == "/upload/"%}class="active"{%endif%}>
                    <a href="/upload">Upload</a>
                </li>
                <li {%if request.path == "/readings/"%}class="active"{%endif%}>
                    <a href="/readings">Readings</a> 
                </li>
                <li {%if request.path == "/assignments/"%}class="active"{%endif%}>
                    <a href="/assignments">Assignments</a>
                </li>
                <li {%if request.path == "/references/"%}class="active"{%endif%}>
                    <a href="/references">References</a>
                </li>
                {%else%}
                <li {%if request.path == "/login"%}class="active"{%endif%}> 
                    <a href="/login"> Login </a> 
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>

{%with messages=get_flashed_messages(with_categories=true)%}
     {%if messages%}
<div>
       {%for category, message in messages%}
         {%if category == 'error'%}
            <div class="alert alert-danger" role="alert">{{message}}</div>
         {%elif category == 'success'%}
            <div class="alert alert-success" role="alert">{{message}}</div>
         {%endif%}
        {%endfor%}
</div>
      {%endif%}
   {%endwith%}
{% endblock %}

{% block content %}
<div class="jumbotron container" id="welcome">
    <h1> FCPS 2015 </h1> 
    <p>Welcome to Fundamentals of Computer Science at CTY Seattle!</p>
    <p>Click <a href="http://bit.ly/1LQW9Oq">here</a> to take a music survey.</p>
    <p>Joke of the day:</p>
    <!--<img src="{{url_for("static",filename="hobbyte.jpeg")}}">-->
    <!---<p>Why do computer scientists always mix up Halloween and Christmas?</p>
    <p>Because Oct 31 == Dec 25</p>-->
    <!--<p>A programmer is at work when their spouse calls and asks them to go to the store. "Buy a gallon of milk, and if the store has fresh eggs, buy a dozen," they said. The programmer comes home with 12 gallons of milk.</p>-->
    <p>Two bytes see each other on the morning train ride to work. One says to the other, "Are you feeling alright? You look ill." They reply, "I don't know. I'm feeling a bit off."</p>
</div>
{% endblock %}
