{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
{% endblock %}

{% block title %}FCPS Seattle 2015{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">FCPS</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                <li> 
                    <a href="/logout">Logout</a> 
                </li>
                <li {%if request.path == "/upload"%}class="active"{%endif%}>
                    <a href="/upload">Upload</a>
                </li>
                <li {%if request.path == "/resources"%}class="active"{%endif%}>
                    <a href="/resoruces">Resources</a> 
                </li>
                {%else%}
                <li {%if request.path == "/login"%}class="active"{%endif%}> 
                    <a href="/login"> Login </a> 
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="jumbotron container" id="welcome">
    <h1> FCPS 2015 </h1> 

</div>
{% endblock %}
