{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-hover">
				<thead><th>Things you've uploaded:</th></thead>
				<tbody>
				{%if uploads%}
				{%for upload in uploads%}
				<tr><td>{{upload}}</td></tr>
				{%endfor%}
				{%else%}
				<tr><td>Nothing yet... you better get to work!</td></tr>
				{%endif%}
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<form method="post" name="upload" enctype="multipart/form-data">
			{{ form.upload.label }} 
			{{ form.upload }} <br>
			{{ form.csrf_token }}
			{{ form.submit}}
			</form>
		</div>
	</div>
</div>
{% endblock %}